# Named NPCs Configuration
# ------------------------

# Enable all NPC naming [Default: true]
EnableRenaming = true

# How many NPCs can we name per level? (random between min and max, inclusive) [Default: 3, 5]
LevelSpawnsMin = 3
LevelSpawnsMax = 5

# How many times can a name occur per level? (1 => no duplicates) [Default: 1]
NameOccurancePerLevelMax = 1

# How many times can a name occur per run? (1 => no duplicates) [Default: 1]
NameOccurancePerRunMax = 1

# What should the player be named? (default keeps the original name, eg. "Soldier") [Default: "" (blank)]
PlayerName = "Marvin"

# The most important name. I'm sure you'd love to know why ... [Default: "" (blank)]
PriorityName = "DDRJake"